# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# PYTHON / BACKEND
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
.venv/

# =========================
# ENV FILES
# =========================
.env

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================
*.log

# =========================
# FIREBASE
# =========================
.firebase/

# =========================
# TEST / CACHE
# =========================
.pytest_cache/
coverage/
